html, body {
 	overflow-x: hidden;
 	overflow-y: hidden;
}
body {
	padding: 0;
	margin: 0;
	position: relative;
	background-color: black;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.button-holder {
	display: flex;
	justify-content: space-evenly;
	margin-top: 50vh;
}
.button {
	display: inline-block;
    color: white;
    font-size: 20px;
    padding: 0.5em 1em;
    border-radius: 5px;
	border: none;
	transition: transform 0.1s linear,
				background-color 0.1s linear;

	width: 40vw;
	height: 40vw;
}
.button:focus {
	outline: 0;
}
.button:active {
    transform: scale(0.95);
}

.button-bad {
	background-color: #e72153;
}
.button-good {
	background-color: #079b42;
}