html, body {
 	overflow-x: hidden;
	overflow-y: hidden;
	font-family: 'Baloo Thambi', sans-serif;
	color: white;
	text-align: center;
}
body {
	padding: 0;
	margin: 0;
	position: relative;
	background-color: black;
}

h1 {
	font-size: 15vmin;
}
p {
	font-size: 7vmin;
}
h1, p {
	margin: 0;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: space-evenly;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}

.dog-input {
	border: 1px solid white;
	border-radius: 4px;
	font-size: 7vmin;
	font-family: 'Baloo Thambi', sans-serif;
	max-width: 400px;
	width: 80vw;
	background: none;
	color: white;
	padding: 8px;
}
.dog-input::placeholder {
	color: white;
	opacity: 0.5;
}

.button-holder {
	display: flex;
	justify-content: space-evenly;
}
.button {
	display: inline-block;
    color: white;
    font-size: 20px;
    border-radius: 5px;
	border: none;
	transition: transform 0.1s linear,
				background-color 0.1s linear;


	font-family: 'Baloo Thambi', sans-serif;
	text-align: center;
	font-size: 10vmin;
}

.button:focus {
	outline: 0;
}
.button:active {
    transform: scale(0.95);
}

.button-game {
	width: 40vmin;
	height: 40vmin;
}
.button-bad {
	background-color: #e72153;
}
.button-good {
	background-color: #079b42;
}
.button-go {
	background-color: rgba(255,255,255,0.3);
	padding: 0 20px;
}

.hidden {
	display: none;
}